.header {
  display: flex;
  flex-direction: column;
  padding: 30px 90px;
  background: url(../../Images/header.png);
  background-color: #232323;
  mix-blend-mode: normal;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .add-movie-btn {
    background: rgba(96, 96, 96, 0.68);
    border-radius: 4px;
    color: #f65261;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    padding: 11px 18px;
    border: 0;
  }
}
